

<h1>Prodotti</h1>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Marca</th>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Contenuto</th>
      <th>Utilizzo</th>
      <th>Media voti</th>
       <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prodottos.each do |prodotto| %>
      <tr>
        <td><%= prodotto.marca %></td>
        <td><%= prodotto.nome %></td>
        <td><%= prodotto.categoria %></td>
        <td><%= prodotto.contenuto %></td>
        <td><%= prodotto.utilizzo %></td>
        <td><%= prodotto.media_voti %></td>
        <td><%= image_tag prodotto.image.url, width: "100px"%></td>
            
       



        <td><%= link_to 'Show', prodotto %></td>
        <td><%= link_to 'Edit', edit_prodotto_path(prodotto) %></td>
        <td><%= link_to 'Destroy', prodotto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prodotto', new_prodotto_path,class:"btn btn-dark" %>
