

<div class="jumbotron jumbotron-fluid">
  
<div class="media">
  <%= image_tag @prodotto.image.url, width: "400px",class:"align-self-center mr-3" %>
  
  <div class="media-body">
    <h1 class="md-0"> <%= @prodotto.nome %></h1>
    <p>
      <p><strong>Marca:</strong>
      <%= @prodotto.marca %></p>


      <p>
  <strong>Categoria:</strong>
  <%= @prodotto.categoria %>
</p>

<p>
  <strong>Contenuto:</strong>
  <%= @prodotto.contenuto %>
</p>

<p>
  <strong>Utilizzo:</strong>
  <%= @prodotto.utilizzo %>
</p>

<p>
  <strong>Media voti:</strong>
  <%= @prodotto.media_voti %>
</p></p>
  </div>
</div>

<br>
<br>

<%= link_to 'Edit', edit_prodotto_path(@prodotto),class:"btn btn-dark"%> <br> <br>
<%= link_to 'Back', prodottos_path,class:"btn btn-dark" %>


